@import url('https://fonts.googleapis.com/css?family=Heebo:400:700&display=swap');
//@import 'backgrounds.css';

%mark {
  border: 2px dashed rgba(146, 0, 165, 0.5);
  background-color: rgba(146, 0, 165, 0.15);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg==");
  background-repeat: repeat;
}

body {
  font-family: sans-serif;
}

article, div {
  min-height: 10px;
}

h1.tnw-section {
  color: #d63a00;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  margin: 3em 0px .7em 0px;
}

#grid-container {
  margin: auto;
  grid-template-areas:
    "top-menu"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}

main {
  display: grid;
  grid-template-areas:
    "banners"
    "latest-news"
    "funding-rounds"
    "articles"
    "latest-deals";
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);

  section {
    max-width: 1200px;
    margin: auto;
  }
}

#top-menu {
  @extend %mark;
  grid-area: top-menu;
}

#banners {
//  @extend %mark;
  color: white;
  height: 370px;
  grid-area: banners;
  display: grid;
  grid-template-areas:
    "big-banner banner-top-right"
    "big-banner banner-bottom-right";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;

  article {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .big-banner {
    grid-area: big-banner;
    background-image: url('../img/image-01.jpg');
    color: white;

    .logo {
//      position: relative;
//      top: 24px;
//      left: 24px;
      float: left;
      margin: 24px 0 0 24px;
      width: 50%;
      max-width: 50%;
      height: 100%;
      max-height: 112px;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NiAxNiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTM0IDE2aC02di01LjJjMC0uNy0uMy0xLjMtLjctMS44TDI1IDYuN2MtLjUtLjQtMS4xLS43LTEuOC0uN0gyMnYxMGgtNlYwaDguN2MxLjMgMCAyLjYuNSAzLjUgMS41bDQuMyA0LjNjMSAuOSAxLjUgMi4yIDEuNSAzLjVWMTZ6TTYwIDB2NS4yYzAgLjctLjMgMS4zLS43IDEuOEw1NyA5LjNjLS41LjUtMS4xLjctMS44LjdoLTIuNWMuOC0uOSAxLjMtMi4xIDEuMy0zLjNWMGgtNnY1LjJjMCAuNy0uMyAxLjMtLjcgMS44TDQ1IDkuM2MtLjUuNS0xLjEuNy0xLjguN0g0MlYwaC02djE2aDguN2MxLjMgMCAyLjYtLjUgMy41LTEuNWwyLjgtMi44VjE2aDUuN2MxLjMgMCAyLjYtLjUgMy41LTEuNWw0LjMtNC4zYzEtLjkgMS41LTIuMiAxLjUtMy41VjBoLTZ6TTE0IDBIMHY2aDR2MTBoNlY2aDQiLz48L3N2Zz4=");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .date {
      float: right;
      margin: 24px;
      font-size: 14px;
      font-family: 'Heebo', sans-serif;
    }

    section {
      clear: both;
      margin: 24px 24px;
      h1 {
        font-family: 'Heebo', sans-serif;
        font-size: 30px;
        line-height: 1.05em;
        margin: 5px 0px;
      }
      h2 {
        font-size: 16px;
      }

    }

  }

  .banner-top-right {
    grid-area: banner-top-right;
    background-image: url('../img/image-02.jpg');
  }

  .banner-bottom-right {
    grid-area: banner-bottom-right;
    background-image: url('../img/image-04.jpg');
  }

  .small-banner {
    section {
      margin: 24px 24px;
      h1 {
        font-family: 'Heebo', sans-serif;
        font-size: 18px;
        line-height: 1.05em;
        margin: 5px 0px;
      }
      h2 {
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    height: 290px;
  }

  @media screen and (max-width: 768px) {
    height: auto;
    grid-template-areas:
      "big-banner"
      "banner-top-right"
      "banner-bottom-right";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 145px);
    .logo {
      display: none;
    }
    .big-banner {
      section {
        clear: none;
        margin: 24px 24px;
        h1 {
          font-family: 'Heebo', sans-serif;
          font-size: 18px;
          line-height: 1.05em;
          margin: 5px 0px;
        }
        h2 {
          font-size: 12px;
        }
      }
    }
  }

}

#latest-news {
//  @extend %mark;
  grid-area: latest-news;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;

  article {
//    @extend %mark;
    margin: 10px;
    img {
      width: 100%;
    }
    h1 {
      font-size: 1em;
      margin: 7px 0 3px 0;
    }
    p {
      font-family: sans-serif;
      font-size: .9em;
      color: grey;
      margin: 3px 0;
    }
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    article:nth-child(n+7) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

}

#funding-rounds {
  @extend %mark;
  grid-area: funding-rounds;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    article:nth-child(n+4) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

}

#articles {
  @extend %mark;
  grid-area: articles;
}

#latest-deals {
  @extend %mark;
  grid-area: latest-deals;
}

footer {
  @extend %mark;
  grid-area: footer;
}
